@charset "UTF-8";

.whole-chart-wrapper{
	margin : auto;
}

.chart-1-wrapper{
	border-radius : 5px;
	background-color : rgb(255,255,255,0.45);
	width : 700px;
	margin : 40px;
}

.chart-2-wrapper{
	border-radius : 5px;
	background-color : rgb(255,255,255,0.45);
	position : absolute;
	top : 105px;
	left : 800px;
	width : 700px;
}

.list-progress-wrapper{
	border-radius : 5px;
	background-color : rgb(255,255,255,0.45);
	position : absolute;
	top : 105px;
	left : 800px;
	width : 700px;
	height : 374px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.list-progress-wrapper::-webkit-scrollbar {
    display: none;
}
.list-progress-title-wrapper{
	text-align : center;
	border-bottom :solid lightgrey 1px;
}
.list-progress-title-wrapper > span{
	color :rgb(0,0,0,0.7);
}
#list-table{
	width: 100%;
	/* border :solid lightgrey 0.5px; */
	border-collapse:collapse;
}
th{
	border :solid rgb(255,255,255,0.4) 3px;
	background-color : rgb(255,255,255,0.4);
	color : rgb(0,0,0,0.5);
}
.list-tr{
	border :solid lightgrey 1px;
	color : rgb(255,255,255,0.6);
}
.list-td{
	border :solid lightgrey 1px;
	color : rgb(255,255,255,0.6);
}
#whole-pie-table{
	width: 100%;
	border :solid lightgrey 1px;
	border-collapse:collapse;
}
.pie-tr{
	border :solid lightgrey 1px;
	color : rgb(255,255,255,0.6);
	height : 68px;
}
.pie-td{
	border :solid lightgrey 1px;
	color : rgb(255,255,255,0.6);
	font-size : 2rem;
	text-align : right;
}
.pie-wrapper{
	border-radius : 5px;
	background-color : rgb(255,255,255,0.45);
	position : absolute;
	top : 529px;
	left : 40px;
	width : 700px;
	height : 374px;

}
.pie-wrapper > img{
	width : 700px;
	height : 374px;
	border-radius : 5px;
	background-color : rgb(255,255,255,0.45);
}

.chart-3-wrapper{
	border-radius : 5px;
	background-color : rgb(255,255,255,0.45);
	width : 440px;
	position : absolute;
	top : 530px;
	left : 40px;
}
.chart-3-wrapper-bar{
	border-radius : 5px;
	background-color : rgb(255,255,255,0.45);
	width : 440px;
	position : absolute;
	top : 530px;
	left : 550px;
}
 .chart-4-wrapper{
	border-radius : 5px;
	background-color : rgb(255,255,255,0.45);
	width : 440px;
	position : absolute;
	left : 1060px;
	top : 530px;

}
 .whole-pie-wrapper{
	border-radius : 5px;
	background-color : rgb(255,255,255,0.45);
	width : 700px;
	position : absolute;
	left : 40px;
	height : 374px;
	top : 990px;
}

.chart-letter-wrapper-1{
	border-bottom :solid lightgrey 1px;
	color :rgb(0,0,0,0.7);
	text-align : center;
	position : relative;
}
.chart-letter-wrapper-2{
	border-bottom :solid lightgrey 1px;
	color :rgb(0,0,0,0.7);
	text-align : center;
	position : relative;
}
.chart-letter-wrapper-3{
	border-bottom :solid lightgrey 1px;
	color :rgb(0,0,0,0.7);
	text-align : center;
	position : relative;
}
.chart-letter-wrapper-3-bar{
	border-bottom :solid lightgrey 1px;
	color :rgb(0,0,0,0.7);
	text-align : center;
	position : relative;
}
.chart-letter-wrapper-4{
	border-bottom :solid lightgrey 1px;
	color :rgb(0,0,0,0.7);
	text-align : center;
	position : relative;
}
.total-progress-text-wrapper{
	margin-left : 40px;
}
.total-progress-text{
	color : tomato;
	font-size : 2.5rem;
	font-family: inherit;
}




