@charset "UTF-8";

#box {
   height: 600px;
   overflow: auto;
}

#textarea {
}

.myId {
   text-align: right;
}

.myMessage {
   text-align: right;
   font-size: 14px;
   color: white;
}

.others {
   text-align: left;
}

.othersMsg {
   text-align: left;
   font-size: 14px;
   color: white;
}

#fileSend {
   border: hidden;
   background: hsla(0, 100%, 100%, 0);
}

/* 이모지 css */
/*div.emoji > */button.smile-o {
   position: absolute;
   font-size: 24px;
   top: 4px;
   right: 10px;
   padding: 3px 4px;
   border-radius: 9999px;
   z-index: 3;
   transition: 0.3s;
}

/*div.emoji > */button.smile-o:hover {
   transition: 0.3s;
   cursor: pointer;
   background-color: rgba(29, 161, 242, 0.5);
}

input.input-innerpd {
   padding-left: 10px;
   padding-right: 30px;
}

.emoji {
	position: absolute;
	top: 26%;
	font-size: 20px;
	width: 16%;
}

.emoji-content {
   background-color: #ffffff;
   /*position: absolute;*/
   right: -40px;
   bottom: 60px;
   z-index: 3;
   margin: auto;
   padding: 0px;
   border: 1px solid #888;
   width: 320px;
   height: 275px;
   border-radius: 10px;
   box-shadow: 0px 0px 5px grey;
   display: none;
   opacity: 0;
}

.appear {
   animation: fade-in 1s;
   animation-fill-mode: forwards;
}

.disappear {
   animation: fade-out 1s;
   animation-fill-mode: forwards;
}

@keyframes fade-in {
   from { 
      opacity:0;
   }
   to {
   opacity: 1;
   }
}

@keyframes fade-out {
   from { 
      opacity:1;
   }
   to {
      opacity: 0;
   }
}

.input-box {
   position: relative;
}

.emoji-area {
   overflow-y: auto;
   max-height: 270px;
}

.hr-small {
   margin-top: 0.4rem;
   margin-bottom: 0.4rem;
}

.emoji-theme {
   margin-left: 5px;
}

.each-list {
   display: flex;
   /* flex-flow: row wrap; */
   flex-direction: row;
   flex-wrap: wrap;
}

.list-item {
   margin: 0;
   padding: 0;
   flex-basis: 12.5%;
   cursor: pointer;
}

.emoticon {
   font-size: 20px;
}