/*
파일명: kanbanDetailModal.css
설명: 칸반 카드 모달 상세페이지 내 구현될 카드 정보, 체크리스트 css
작성일: 2021-01-04 ~ 
작성자: 문지연
*/

/*Modals*/
.detailsModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgb(0,0,0,0.4);
}

.modal-detail{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: auto;
    border-radius: 15px;
    min-width:600px;
}

.main{
	width:75%; 
	display:inline-block;
}

/* Side */
.side{
	display:inline-block;
	position:absolute;
	margin-left:10px;
}

.cardMembersBtn {
	background: transparent;
	padding: 5px;
	margin-bottom: 5px;
	border: none;    
}

.cardMembersBtn:hover {
	background : #31353d;
	cursor: pointer;
	border-radius: 5px;
	color: #f2dd68;
}

.setDueDateBtn, .getDueDateBtn {
	background: transparent;
	padding: 5px;
	margin-bottom: 5px;
	border: none;
}

.setDueDateBtn:hover, .getDueDateBtn:hover{
	background : #31353d;
	cursor: pointer;
	border-radius: 5px;
	color: #f2dd68;
}

.closeModal {
    color: #aaaaaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
}

.closeModal:hover,
.closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/*card Title in Modal*/
.cardTitleMo {
	font-size:30px;
    padding-left:10px;
    margin-bottom:10px;
    width:70%;
    font-weight: 200;
	color: #454545;
}
.cardTitleMo:hover {
cursor: pointer;
}

#cardTitleForm {
    width: 30%;
    padding-left:10px;
    margin-bottom: 10px;
    line-height:50px;
    display: none;
}

#cardTitleInput {
	font-size:28px;
    padding-left:10px;
    margin-bottom:10px;
    font-weight: 200;
    background: transparent;
    color: #000;
    border: none;
    background: #f5df4d;
    border-radius: 5px;
    width:255%;
}

/* Selected Members */
.members {
	margin-left:10px;
}

.selectedMemPro {
	margin-left:5px;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-radius: 100%;
}

/* Card Details */

#cardDetailsWrap {
	width:75%; 
	display:inline-block;
}

.cardDetails {
	text-align: left;
	padding: 0;
	font-size: 25px;
	font-weight: 200;
	color: #454545;
	margin-bottom: 10px;
}

.cardDetails .fa-clipboard {
	font-size: 25px;
	margin-right: 5px;
	color: #f2dd68;
}

.cardDetails .fa-edit {
	font-size: 15px;
	margin-left: 10px;
}

.fa-edit:hover {
	font-size: 20px;
	cursor: pointer;
}

.cardContents {
	font-size:20px;
    padding-left:10px;
    margin-bottom:10px;
    width:85%;
    font-weight: 200;
	color: #454545;
	word-wrap: break-word;
}

.addCardDetails {
	box-sizing: content-box;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 7px 10px;
    width: 70%;
    font-size: 15px;
    resize: none;
    height: 50px;
    -webkit-box-shadow: 1px 1px 1px 0px rgb(186, 186, 186);
    -moz-box-shadow: 1px 1px 1px 0px rgb(186, 186, 186);
    box-shadow: 1px 1px 1px 0px rgb(186, 186, 186);
    margin-right:10px;
}

.addDetails-btn {
    font-family: 'Lato', sans-serif;
    display: block;
    margin-left: 67%;
    margin-top: 5px;
    padding: 3px 5px;
    background-color: #f2dd68;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    border: none;
    box-shadow: rgba(0,0,0,0.06) 0px 1px 2px 1px;
}

.closeDetails {
    display: flex;
    height: 28px;
    width: 28px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    color: black;
    float: right;
}

/*Check List in Modal*/
#checkListWrap {
	/*transition*/
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
	font-family: helvetica neue, helvetica, arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	box-sizing: border-box;
	margin: 0;
}

.checkListTitle {
	text-align: left;
	padding: 0;
	font-size: 25px;
	font-weight: 200;
	color: #454545;
	margin-bottom: 10px;
}

.checkListTitle .fa-check {
	font-size: 25px;
	margin-right: 5px;
	color: #f2dd68;
}

/*CheckList Progress Bar*/
.ready{font-size: 5px;}

.ui-progressbar .ui-progressbar-value {
	border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 0;
    height: 100%;
}

.ui-progressbar-value {
	background:#f5df4d;
	/*box-shadow*/
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.progressbar-container {
  position: relative;
  width: 103%; 
  margin-left: 10px;
  display: inline-flex;
}

.progressbar {
	height:10px;
	border-radius: 5px;
	width: 85%;
	/*box-shadow*/
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.progressbar-label {
	width: 5%;
	font-size:13px;
	margin-left: 10px;
	padding-bottom: 5px;
}


/*CheckList Details*/
#checkListForm {
	width : 95%;
	margin: 5px auto 5px 5px;
	padding: 30px;
	background: white;
	position: relative;
	/*box-shadow*/
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	/*border-radius*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#checkListForm:before {
	content: "";
	position: absolute;
	z-index: -1;
	/*box-shadow*/
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	top: 50%;
	bottom: 0;
	left: 10px;
	right: 10px;
	/*border-radius*/
	-webkit-border-radius: 100px/10px;
	-moz-border-radius: 100px/10px;
	border-radius: 100px/10px;
}

.todo-wrap {
	display: block;
	position: relative;
	padding-left: 35px;
	/*box-shadow*/
	-webkit-box-shadow: 0 2px 0 -1px #ebebeb;
	-moz-box-shadow: 0 2px 0 -1px #ebebeb;
	box-shadow: 0 2px 0 -1px #ebebeb;
}

.todo-wrap:last-of-type {
	/*box-shadow*/
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

input[id="checkList"] {
	position: absolute;
	height: 0;
	width: 0;
	opacity: 0;
	/* top: -600px; */
}

.todo {
	display: inline-block;
	font-weight: 200;
	padding: 10px 5px;
	height: 37px;
	position: relative;
	width: 90%;
	word-break: break-all;
}
/* 
.todo:before {
	content: '';
	display: block;
	position: absolute;
	top: calc(50% + 2px);
	left: 0;
	width: 0%;
	height: 1px;
	background: #cd4400;
	transition
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
} */

.todo:after {
	content: '';
	display: block;
	position: absolute;
	z-index: 0;
	height: 18px;
	width: 18px;
	top: 9px;
	left: -25px;
	/*box-shadow*/
	-webkit-box-shadow: inset 0 0 0 2px #d8d8d8;
	-moz-box-shadow: inset 0 0 0 2px #d8d8d8;
	box-shadow: inset 0 0 0 2px #d8d8d8;
	/*transition*/
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
	/*border-radius*/
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.todo:hover:after {
	/*box-shadow*/
	-webkit-box-shadow: inset 0 0 0 2px #949494;
	-moz-box-shadow: inset 0 0 0 2px #949494;
	box-shadow: inset 0 0 0 2px #949494;
}

.todo .fa-check {
	position: absolute;
	z-index: 1;
	left: -31px;
	top: 0;
	font-size: 1px;
	line-height: 36px;
	width: 36px;
	height: 36px;
	text-align: center;
	color: transparent;
	text-shadow: 1px 1px 0 white, -1px -1px 0 white;
}

input[type=checkbox]:checked + label.todo {
	color: #717171;
	text-decoration:line-through;
	transition: all 175ms ease;
    opacity: 0.7;
}

input[type=checkbox]:checked + label.todo:before {
	width: 100%;
}

input[type=checkbox]:checked + label.todo:after {
	/*box-shadow*/
	-webkit-box-shadow: inset 0 0 0 2px #0eb0b7;
	-moz-box-shadow: inset 0 0 0 2px #0eb0b7;
	box-shadow: inset 0 0 0 2px #0eb0b7;
}

input[type=checkbox]:checked + label.todo .fa-check {
	font-size: 20px;
	line-height: 35px;
	color: #0eb0b7;
}

/* Delete Items */
.delete-item {
	display: block;
	position: absolute;
	height: 36px;
	width: 36px;
	line-height: 36px;
	right: 0;
	top: 0;
	text-align: center;
	color: #d8d8d8;
	opacity: 0;
}

.todo-wrap:hover .delete-item {
	opacity: 1;
	cursor: pointer;
}

.delete-item:hover {
	color: #f5df4d;
}
/* Add Items */
#add-todo {
	padding: 25px 0 0 0;
	font-size: 14px;
	font-weight: 200;
	color: #6e7579;
	display: inline-block;
	cursor: pointer;
	font-weight: 350;
}

#add-todo:hover {
	color: #0eb0b7;
	font-weight: 450;
	/*transition*/
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

#add-todo .fa-plus {
	font-size: 14px;
	/*transition*/
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

.input-todo {
	border: none;
	outline: none;
	font-weight: 200;
	position: relative;
	top: -1px;
	margin: 0;
	padding: 0;
	width: 100%;
}

.editing {
	height: 0;
	overflow: hidden;
}

.editing.todo-wrap {
	box-shadow: 0 0 400px rgba(0, 0, 0, .8), inset 0 0px 0 2px #ebebeb;
}

