<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.bit.dao.CalendarDao">

	<insert id="insertCalendar" parameterType="CalendarDto">
		INSERT INTO calendar
		(start,end,title,content,allday,color,project_seq,card_seq)
		VALUES(#{start},#{end},#{title},#{content},#{allDay},#{color},#{project_seq},#{card_seq})
	</insert>


	<select id="getCalendarList" resultType="CalendarDto">
		SELECT * FROM calendar WHERE PROJECT_SEQ = #{param1}
	</select>

	<select id="getCalendarListKanban" resultType="CalendarDto">
		SELECT calendar.*
		FROM calendar, kanbancard_member
		WHERE calendar.card_seq = kanbancard_member.card_seq
		AND kanbancard_member.email = #{param1}
		AND calendar.PROJECT_SEQ = #{param2}
	</select>

	<select id="getCalendarListKanbanDetail"
		resultType="CalendarDto">
		SELECT * FROM calendar WHERE card_seq = #{param1}
	</select>

	<update id="editCalendar">
		UPDATE calendar
		SET start=#{param1},end=#{param2}
		WHERE id = #{param3}
	</update>

	<delete id="deleteCalendar">
		DELETE FROM calendar
		WHERE id = #{param1}
	</delete>

	<delete id="deleteCalendarKanban">
		DELETE FROM calendar
		WHERE card_seq = #{param1}
	</delete>

	<update id="updateCalendar" parameterType="CalendarDto">
		UPDATE calendar
		SET start=#{start},end = #{end},title = #{title},content =
		#{content},allday=#{allDay},color=#{color}
		WHERE id = #{id}
	</update>

	<select id="getCalendarCount" resultType="int"
		parameterType="int">
		SELECT COUNT(*) FROM calendar WHERE PROJECT_SEQ = #{param1}
	</select>

	<delete id="deleteCalendarByProjectSeq" parameterType="int">
		DELETE FROM calendar
		WHERE PROJECT_SEQ = #{param1}
	</delete>

</mapper>