<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
파일명: cardCommentsMapper.xml
설명: cardCommentsMapper.xml
작성일: 2021-01-17 ~
작성자: 문지연
 -->
<mapper namespace="kr.or.bit.dao.CardCommentsDao">

	<insert id="insertComments" parameterType="cardCommentsDto">
		INSERT INTO kanban_comments(EMAIL, CARD_SEQ, COMMENTS_SEQ, COMMENTS, REG_DATE,EDITED) 
		VALUES(#{email}, #{card_seq}, nextval('comments_seq'), #{comments}, now(), DEFAULT)
	</insert>
	
	<select id="loadComments" parameterType="int" resultType="cardCommentsDto">
		SELECT U.email, U.profile, U.NICKNAME, K.COMMENTS, K.REG_DATE, K.COMMENTS_SEQ, K.EDITED
		FROM kanban_comments K
		JOIN user U ON U.email=K.EMAIL
		WHERE CARD_SEQ = #{param1}
		ORDER BY K.COMMENTS_SEQ ASC;
	</select>
	
	<delete id="deleteCardComment" parameterType="int">
		DELETE FROM kanban_comments
		WHERE COMMENTS_SEQ = #{param1}
	</delete>
	
	<update id="editCardComment" parameterType="cardCommentsDto">
		UPDATE kanban_comments 
		SET COMMENTS=#{comments}, REG_DATE=now(), EDITED=1 WHERE COMMENTS_SEQ=#{comments_seq}
	</update>
	
	<delete id="deleteAllCardComm" parameterType="int">
		DELETE FROM kanban_comments WHERE CARD_SEQ=#{card_seq}
	</delete>
	
	<select id="getProAndSeq" parameterType="hashMap" resultType="cardCommentsDto">
		SELECT U.profile, MAX(S.CURRVAL)+1 AS COMMENTS_SEQ
		FROM kanban_comments K 
		RIGHT JOIN user U ON U.email=#{email}
		LEFT JOIN sequences S ON K.COMMENTS_SEQ
		WHERE NAME='COMMENTS_SEQ'
	</select>
	
	<select id="getTotalCommByCard" parameterType="hashMap" resultType="cardCommentsDto">
		SELECT COUNT(*) AS 'TOTAL', K.CARD_SEQ
		FROM kanban_comments K
		JOIN kanbancard C ON C.CARD_SEQ=K.CARD_SEQ
		WHERE C.PROJECT_SEQ=#{projectNum}
		GROUP BY K.CARD_SEQ;
	</select>
 	
</mapper>



