<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
파일명: cardMapper.xml
설명: cardMapper.xml
작성일: 2020-12-28 ~ 2021-01-07 
작성자: 문지연,변재홍
 -->
<mapper namespace="kr.or.bit.dao.CardDao">
	<update id="updateWholeCard" parameterType="HashMap">
		UPDATE kanbancard SET CARD_ORDER_NUM = #{card.card_order_num} WHERE CARD_SEQ = #{card.card_seq} AND PROJECT_SEQ = #{projectNum}
	</update>
	
	<select id="loadWholeCard" resultType="cardDto" parameterType="int">
		SELECT * FROM kanbancard WHERE PROJECT_SEQ = #{param1}
	</select>
	
	<insert id="insertKanbanCard" parameterType="HashMap">
		INSERT INTO kanbancard(CARD_SEQ, CARD_NAME, CARD_ORDER_NUM, PROJECT_SEQ) VALUES(nextval('card_seq'), #{card.card_name}, #{card.card_order_num}, #{projectNum})
	</insert>
	
	<select id="getCardSeq" resultType="int" parameterType="int">
		SELECT max(CARD_SEQ) FROM kanbancard WHERE PROJECT_SEQ = #{param1}
	</select>
	
	<delete id="deleteKanbanCard" parameterType="int">
		DELETE FROM kanbancard WHERE CARD_SEQ = #{param1}
	</delete>
	
	<update id="editKanbanCardTitle" parameterType="cardDto">
		UPDATE kanbancard SET CARD_NAME = #{card_name} WHERE CARD_SEQ = #{card_seq}
	</update>
	
	<update id="updateCardContent" parameterType="cardDto">
		UPDATE kanbancard SET CARD_CONTENT = #{card_content} WHERE CARD_SEQ= #{card_seq}
	</update>
	
	<select id="getCardContent" resultType="cardDto" parameterType="HashMap">
		SELECT CARD_CONTENT, CARD_NAME FROM kanbancard WHERE CARD_SEQ = #{cardSeq}
	</select>
	
	<select id="getlCardCount" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM kanbancard WHERE PROJECT_SEQ = #{param1}
	</select>
	
	<select id="getCardSeqByProjectSeq" resultType="int" parameterType="int">
		SELECT CARD_SEQ FROM kanbancard WHERE PROJECT_SEQ = #{param1}
	</select>
	
	<delete id="deleteKanbanCardByProjectSeq" parameterType="int">
		DELETE FROM kanbancard WHERE PROJECT_SEQ = #{param1}
	</delete>
	
	<select id="getCardSeqByProjectNum" resultType="int" parameterType="HashMap">
		select card_seq from kanbancard where project_seq = #{projectNum} AND 
		card_seq = any (SELECT card_seq FROM kanbanCard_Member WHERE email = #{name})
	</select>
	
	
	
</mapper>



	










