<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
파일명: listMapper.xml
설명: listMapper.xml
작성일: 2020-12-28 ~ 2021-01-07 
작성자: 문지연,변재홍
 -->
<mapper namespace="kr.or.bit.dao.ListDao">
	<update id="updateKanbanList" parameterType="HashMap">
		UPDATE kanbanlist SET LIST_ORDER_NUM = #{list.list_order_num} WHERE LIST_SEQ = #{list.list_seq} AND PROJECT_SEQ = #{projectNum}
	</update>
	
	<select id="loadWholeList" resultType="listDto" parameterType="int">
		SELECT * FROM kanbanlist WHERE PROJECT_SEQ = #{param1}
	</select>
	
	<insert id="insertKanbanList" parameterType="HashMap">
		INSERT INTO kanbanlist(LIST_SEQ, LIST_NAME, LIST_ORDER_NUM, PROJECT_SEQ) VALUES(nextval('list_seq'), #{list.list_name}, #{list.list_order_num}, #{projectNum})
	</insert>
	
	<select id="getListSeq" resultType="int" parameterType="int">
		SELECT max(LIST_SEQ) FROM kanbanlist WHERE PROJECT_SEQ = #{param1}
	</select>
	
	<select id="getLastListNum" resultType="int" parameterType="int">
		SELECT count(LIST_NAME) FROM kanbanlist WHERE PROJECT_SEQ = #{param1}
	</select>
	
	<update id="editKanbanListTitle" parameterType="listDto">
		UPDATE kanbanlist SET LIST_NAME = #{list_name} WHERE LIST_SEQ = #{list_seq}
	</update>
	
	<delete id="deleteKanbanList" parameterType="int">
		DELETE FROM kanbanlist WHERE LIST_SEQ = #{param1}
	</delete>
	
	<select id="getlListCount" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM kanbanlist WHERE PROJECT_SEQ = #{param1}
	</select>
	
	<delete id="deleteKanbanListByProjectSeq" parameterType="int">
		DELETE FROM kanbanlist WHERE PROJECT_SEQ = #{param1}
	</delete>
	
</mapper>
	










