<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
파일명: projectMapper.xml
설명: projectMapper.xml
작성일: 2020-12-31 ~ 
작성자: 문지연,변재홍
 -->
<mapper namespace="kr.or.bit.dao.Project_memberDao">

	<select id = "isExistFromProject" resultType = "project_memberDto">
		SELECT * FROM project_member WHERE PROJECT_SEQ = #{param1} AND EMAIL = #{param2}
	</select>
	
	<insert id = "joinToPieAsTeam">
		INSERT INTO project_member(PROJECT_SEQ, EMAIL) VALUES(#{param1}, #{param2}) 
	</insert>
	
	<select id = "getMemberCount" resultType = "int" parameterType = "int">
		SELECT COUNT(*) FROM project_member WHERE PROJECT_SEQ = #{param1}
	</select>
	
	<select id = "getMember" resultType = "project_memberDto" parameterType = "int">
		SELECT * FROM project_member WHERE PROJECT_SEQ = #{param1}
	</select>
	
	<delete id = "deletePmByProjectSeq" parameterType = "int">
		DELETE FROM project_member WHERE PROJECT_SEQ = #{param1}
	</delete>
	
	
</mapper>
	










