<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
파일명: projectMapper.xml
설명: projectMapper.xml
작성일: 2020-12-31 ~ 
작성자: 문지연,변재홍
 -->
<mapper namespace="kr.or.bit.dao.ProjectDao">

	<update id="editProjectTitle" parameterType="projectDto">
		UPDATE project SET PROJECT_NAME = #{project_name} WHERE PROJECT_SEQ = #{project_seq}
	</update>
	
	<insert id="createPie" parameterType="projectDto">
		INSERT INTO project(PROJECT_SEQ, PROJECT_NAME, LEADER_EMAIL) VALUES(nextval('project_seq'), #{project_name}, #{leader_email})
	</insert>
	
	<select id="getPieList" parameterType="String" resultType="projectDto">
		SELECT * FROM project WHERE PROJECT_SEQ = ANY (SELECT PROJECT_SEQ FROM project_member WHERE EMAIL = #{param1})
	</select>
	
	<select id="getProjectTitle" parameterType="int" resultType="String">
		SELECT PROJECT_NAME FROM project WHERE PROJECT_SEQ = #{param1}
	</select>
	
	<delete id="deleteProjectByProjectSeq" parameterType="int">
		DELETE FROM project WHERE PROJECT_SEQ = #{param1}
	</delete>
	

</mapper>
	










