<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.bit.dao.UsersDao">
 
<select id="getUserList" resultType="usersDto">
	SELECT user.email,user.nickName,user.profile FROM user, project_member WHERE user.email = project_member.EMAIL 
	AND project_member.PROJECT_SEQ = #{param1}
</select>

</mapper>